<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/public/css/style.css">

  <title>Hello, world!</title>
</head>

<body>
  {{>navbar data=info}}
  {{>slider data=slideInfo}}

  {{!-- banner1_section --}}
  <section class="banner1 py-5 background1">

    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">

          <h1>Start learning new technology here!!</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas qui provident dolorum reprehenderit
            voluptatum! Temporibus nesciunt rem sunt voluptatibus eum accusantium soluta similique ex impedit? Quam fuga
            ex aspernatur.</p>
          <button class="btn btn-outline-primary">
            Start learning
          </button>
        </div>
      </div>
    </div>

  </section>

  {{!-- Services-section --}}
  <section id="services_section" class="py-3">
    <div class="container">
      <h1 class="text-center text-secondary">Services that we provide</h1>
      <div class="row mt-5">
        {{#each serviceInfo}}
        <div class="col-md-4 my-3">
          <div class="card">
            <div class="card-body">
              <div class="container text-center py-3">
                <i class="{{this.icon}} service-icon text-secondary"></i>
              </div>
              <h4 class="card-title">{{this.title}}</h4>
              <p>{{this.description}}</p>
              <a href="{{this.link}}">{{this.linkText}}</a>
              <a href="#!">Supprot</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

  {{!-- banner2 section --}}
  <section id="banner2" class="banner2 py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center py-5">
          {{!-- left side --}}
          <h3>We work for people, not for money </h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa laboriosam quasi commodi tempore et nisi
            quam rerum, aliquam eligendi voluptatibus unde aspernatur officia reiciendis a minus! Officiis distinctio ea
            dignissimos!</p>
          <button class="btn btn-primary">Click Here</button>
        </div>
        <div class="col-md-6 text-center">
          {{!-- right side --}}
          <img src="/public/images/graphic1.svg" alt="" style="height: 300px;">
        </div>
      </div>
    </div>
  </section>

  {{!-- banner3 section --}}
  <section class="banner3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          {{!-- left side --}}
          <img src="/public/images/graphic1.svg" alt="" style="height: 300px;">
        </div>
        <div class="col-md-6 text-center py-5">
          {{!-- right side --}}
          <h3>We work for people, not for money </h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa laboriosam quasi commodi tempore et nisi
            quam rerum, aliquam eligendi voluptatibus unde aspernatur officia reiciendis a minus! Officiis distinctio ea
            dignissimos!</p>
          <button class="btn btn-primary">Click Here</button>
        </div>
      </div>
    </div>
  </section>

  {{!-- Contact Us Section --}}
  <section id="contact_section" class="py-3 background1">
    <div class="container">
      <h1 class="text-center text-secondary">Contact Us </h1>
      <div class="row">
        <div class="col-md-12">
          <form action="/contact" method="post">

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Your Email address</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
              <label for="contact-number" class="form-label">Your Contact Number</label>
              <input name="mobile" type="tel" class="form-control" id="contact-number">
            </div>

            <div class="mb-3">
              <label for="floatingTextarea">Your Query</label>
              <textarea name="query" style="height: 250px;" class="form-control" placeholder="Enter your query here"
                id="floatingTextarea"></textarea>
            </div>

            <div class="container text-center">
              <button type="submit" class="btn btn-dark">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>

  </section>

  {{!-- About section --}}
  <section id="about" class="about text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>About this site</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque natus eligendi excepturi est sit alias!
            Similique soluta deserunt beatae quia placeat! Adipisci ipsum facilis maxime totam soluta enim voluptates
            repellat!</p>
          <button class="btn btn-success btn-lg">
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>